body
{
  font-size: 40pt;
  background-color:#f0ff8c;
}
.lang{
  width:90%;
  height:40vh;
  margin-left:auto;
  margin-right:auto;
  border-radius:15px;
  background-color:Black;
  margin-top:130px;
}

.opt{
  width:45%;
  height:7vh;
  margin-left:auto;
  margin-right:auto;
  margin-top:60px;
  border-radius:24px;
  background-color:Red;
}

.text{
  text-align:center;
  padding-top:17px;
  font-size:60pt;
}
.langsyntax{
  color:White;
  padding-left:40px;
  padding-top:95px;
  font-size:50pt;
  text-transform:capitalize;
}
.langsyntax1{
  font-size:60pt;
  margin-left:auto;
  margin-right:auto;
  
}
